body {
  background-color: #EFEFEF;
  color: #4D4D4D;
  font-size: 16px;
  line-height: 1.5;
}

nav {
  background-color: #4D4D4D;
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 100%;
  margin-top: 1em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #C7FFE8;
}

a:hover {
  font-weight: bold;
}

a:active {
  color: #00DB8F;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
